.chatContainer {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    height: 82vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    /* background-color: ghostwhite; */
}
.local{
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(12, 143, 143);
    max-width: 80%;
    color: white;
    font-size: 17px;
    align-self: flex-start;
}
.remoto{
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(150, 144, 69);
    max-width: 80%;
    color: white;
    font-size: 17px;
    align-self: flex-end;
}

.inputContainer {
    background-color: ghostwhite;
    // position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    height: 10vh;
}

input{
    padding: 5px 11px;
    width: 85%;
}