<!-- <button (click)="sendMessage('Bienvenido')">
    enviar mensaje
  </button>
  
  <ul>
    <li *ngFor="let nombreAca of getMessage()| async; index as i">
      {{nombreAca}}
    </li>
  </ul> -->

<div class="chatContainer">
  <p class="local">Mensaje LOCAL</p>
  <br>
  <p class="remoto">Mensaje REMOTO</p>

</div>

<div class="inputContainer">
  <form (ngSubmit)="sendMessage()">
    <input [(ngModel)]="text" [ngModelOptions]="{standalone: true}" id="text" type="text"> <!-- [(ngModelOptions)]="{standalon: true}" -->
  </form>
</div>

<!-- <form [formGroup]="textBox" (ngSubmit)="sendMessage()">

  <label for="text"></label>
  <input id="text" type="text" formControlName="text">

  <button type="submit" [disabled]="!textBox.valid">Enviar</button>
</form> -->

