<article class="loginContainer">
  <form [formGroup]="loginForm" class='loginForm' (ngSubmit)="onSubmit()">
    <h2 class='loginFormTitle'>¡Bienvenido a chat-job!</h2>
    <label class='labelForm' for="email">Email: </label>
    <input class='inputForm' id="email" type="email" formControlName="email">
    <label class='labelForm' for="password">Password: </label>
    <input class='inputForm' id="password" type="text" formControlName="password">
    <button class='buttonForm' type="submit" [disabled]="!loginForm.valid">Ingresar</button>
    <a class="signUp" [routerLink]="['/registro']">Regístrate</a>
  </form>
  <!--<section class="signUp">
     <a [routerLink]="['/registro']">Regístrate</a> 
  </section>-->
</article>

