/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/bootstrap/scss/bootstrap.scss";
//@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// $font : 'Rubik', sans-serif;
// $primary : #EE3038;
// $white: #FFFCFC;
// $whiteHumo: #EDE7E7;
// $title: #2C2929;
// $titleLight: #999999;
// $titleHumo: #616161;
// $check: #35AD33;
// $redLight: #F65E65;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }